# Base
/*
!.git*
!*.md
!LICENSE

# Customizable Private Construction
!/Customizable Private Construction/

# Dragon
!/Dragon/
/Dragon/*.md
/Dragon/*.conf

# GDP Ownership Display
!/GDP Ownership Display/

# Integrated Cultures
!/Integrated Cultures/

# Paradox Bug Fix
!/Paradox Bug Fix/

# Tradable Construction
!/Tradable Construction/
